/* Visually tell the user that these thumbnails are clickable. */
.image-thumbnail {

    cursor: pointer;

}

/* Remove those nasty rounded corners from modals. We like SHARP EDGES.  */
.modal-content  {

    border-radius: 0px;

}

canvas {
    width: 100%;
}

/* Center the title between the buttons. */
.modal-title {

    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);

}

/* Prevent the canvas from overflowing the modal, while centering it too.
   Remove that weird white 5px line from the bottom of the modal. */
.modal-body {

    padding: 0;
    margin-bottom: -5px;

}